.header{
    height: 80px;
}
.justify-center{
    display: flex;
    align-items: center;
}
.aLink a{
    padding-left: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.aLink a:hover{
    color: #ff9900;
    font-size: 18px;
}